.page-heading-wrapper {
	padding-top: 180px;
    padding-bottom: 80px;
}

.filter-catalog {
	li {
		width: 100%;
		display: inline;
		line-height: 32px;
		font-weight: bold;
	    letter-spacing: 1px;
		&:after {
			content: "|";
			margin-left: 20px;
		    margin-right: 16px;
		    color: $brown;
		}
		&:last-child {
			&:after {
				content: " ";
			}
		}
		&.active {
			a {
				color: $blue;
			}
		}
		a {
			color: $brown;
			&:hover {
				color: $blue;
			}
		}
	}
}

.product-list {
	figure {
		border: 1px solid $blue;
	}
	.product-item {
		a {
			&:hover {
				text-decoration: none;
				.title {
					color:$blue;
					text-decoration: none;
				}
			}
		}
		.title {
			color: $black;
		}
	}
}

.product-item {
	margin-bottom: 30px;
}