.maps {
	iframe {
	border: 2px solid $blue;
	}
}

.address-wrapper {
	.heading {
		color: $blue;
	}
	.fas {
		position: relative;
		width: 100px;
		height: 100px;
		border: 1px solid $blue;
		border-radius: 50%;
		font-size: 38px;
		color: $blue;
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	a {
		color: inherit;
	}
}

.form-wrapper {
	.heading {
		color: $blue;
	}
}