/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /* padding-top: 3rem; */
  /* padding-bottom: 3rem; */
  color: #5a5a5a;
}

.f-light {
	font-weight: 300;
}
.f-medium {
	font-weight: 500;
}

h1 {
	font-size: 66px;
}

.main-nav {
  background-color: transparent !important;
  position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
  .navbar-nav {
  	.nav-item {
  		margin-left: 10px;
  		&.active {
  			.nav-link {
	  			background-color: $blue;
	  		}
  		}
  	}
  	.nav-link {
  		border-radius: 20px;
  		padding: 8px 14px;
  		color: $white;
  		&:hover {
  			color: $white;
  			background-color: $blue;
  		}
  	}
  }
}

.search-form {
	position: relative;
	.form-control {
		border-radius: 20px;
		background-color: transparent;
		color: $white;
		padding-right: 36px;
	}
	.input-group-append {
		position: absolute;
    	right: 0;
    	.btn {
	    	border: 0;
	    	color: $white;
	    	&:hover {
	    		color: $white;
	    		background-color: transparent;
	    	}
	    }
	}
}

.btn-outline {
	color: $white;
	border-radius: 26px;
	padding: 8px 24px;
	border-color: $white;
	background-color: transparent;
	&:hover {
		color: $white;
		background-color: $blue;
	}
}
.btn-blue {
	color: $white;
	border-radius: 26px;
	padding: 8px 24px;
	/* border-color: $white; */
	background-color: $blue;
	&:hover {
		color: $black;
		/* background-color: $blue; */
	}
}

.heading {
	.subtitle {
		color: $brown;
		font-weight: bold;
		letter-spacing: 2px;
		margin-bottom: 8px;
	}
	h1 {
		color: $blue;
		font-size: 56px;
	}
}

.lh-3 {
	line-height: 32px;
}

.bg-img {
	background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-white {
	.heading {
		.subtitle {
			color: $white;
		}
	}
}

.post-box {
	.date {
		font-weight: bold;
	}
	figure {
		border-radius: 30px;
		border: 2px solid;
		max-height: 200px;
		overflow: hidden;
		border-color: rgba(255, 255, 255, .25);
	}
	.title {
		font-size: 26px;
	}
}

.separator {
	height: 2px;
	background-color: $white;
	max-width: 40px;
}

.contact-form {
	.form-control {
		border-radius: 4px;
		height: 45px;
		border: 2px solid #dddddd;
		&::placeholder {
			color: #d7d7d7;
		}
	}
	textarea.form-control {
		height: auto;
	}
}


.breadcrumb {
	width: fit-content;
	background-color: transparent;
	a {
		color: $white;
	}
}
.breadcrumb-item.active {
    color: $white;
}
.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
	color: $white;
}

.pagination {
	width: fit-content;
	.page-link {
		border: 0;
	}
	.page-item.active .page-link {
		background-color: transparent;
		border-color: transparent;
		color: $black;
	}
}

footer {
    padding-top: 16px;
    padding-bottom: 16px;
    .fas {
    	color: $white;
    }
    .fab {
    	color: #1b2e6e;
    }
    a {
    	&:hover {
    		text-decoration: none;
    	}
    }
    .social {
    	margin-left: auto;
    }
}