/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  .btm-img {
    position: absolute;
    z-index: 10;
    bottom: 0;
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 14rem;
  z-index: 10;
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 30px !important;
  }
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /* height: 32rem; */
}

.icon-category {
  padding-top: 100px;
  padding-bottom: 100px;
  .first-icon {
    margin-left: 12%;
  }
  p {
    color: $white;
  }
}

.clients {
  padding-top: 80px;
  padding-bottom: 80px;
}

#logo-slider {
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -35px;
  }
  .slick-prev:before, .slick-next:before {
    color: #e1e1e1;
  }
  .slick-slide img {
    margin: auto;
  }
  .slick-dots {
    bottom: -20px;
    li button:before {
      color: $blue;
    }
  }
  .item-slider {
    figure {
      margin: 0;
    }
  }
}

.latest-news {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-home {
  .address {
    .title {
      font-weight: bold;
      color: $blue;
    }
    ul {
      list-style: none;
      position: relative;
      li {
        margin-bottom: 8px;
        a {
          color: inherit;
        }
        .fas {
          position: absolute;
          left: 8px;
          margin-top: 4px;
          font-size: 20px;
          color: $blue;
        }
      }
    }
  }
}