/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 62em) {}


// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
  .icon-category .first-icon {
    margin-left: 0;
  }
  .carousel-caption {
    bottom: 6rem;
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 24px !important;
    }
  }
  .heading h1 {
    font-size: 46px;
  }
  .post-box .title {
    font-size: 24px;
  }
  .icon-category .last-icon {
    margin-left: 25%;
  }
  .post-box {
    margin-bottom: 60px;
  }
  .btn-blue {
    width: 100%;
  }
  .address {
    margin-top: 30px;
  }
  footer {
    text-align: center;
    span {
      margin: auto;
    }
    .social {
      margin-top: 15px;
    }
  }
  .page-heading-wrapper {
    .page-heading {
      font-size: 42px;
    }
  }
  .product-item {
    margin-bottom: 60px;
  }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
  .carousel-item {
    height: 800px;
  }
  .heading h1 {
    font-size: 50px;
  }
  .icon-category p {
    font-size: 12px;
  }
  .post-box .title {
    font-size: 22px;
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
  .carousel-item {
    height: 800px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {}


// Large devices (landscape phones, 992px and down)
@include media-breakpoint-down(lg) {}

// Medium devices (landscape phones, 768px and down)
@include media-breakpoint-down(md) {
  .navbar-collapse {
    background-color: rgba(8, 96, 167, 0.5);;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    padding-top: 140px;
    z-index: -1;
  }
  .search-form {
    width: calc(100% - 20px);
    margin: auto;
    .form-control {
      width: 100%;
    }
  }
  .main-nav .navbar-nav .nav-item.active .nav-link {
    width: calc(100% - 10px);
  }
  .navbar-dark .navbar-toggler {
    border-color: $blue;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    .fas {
      color: $blue;
      font-size: 26px;
    }
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
  }

}

// Small devices (landscape phones, 576px and down)
@include media-breakpoint-down(sm) {}

// Large devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}

// Large devices (landscape phones, 1200px and up)
@include media-breakpoint-up(xl) {}