// Variables
// --------------------------

$fa-font-path:                "~@fortawesome/fontawesome-free/webfonts";
// $fa-font-size-base:           16px !default;
// $fa-font-display:             auto !default;
// $fa-css-prefix:               fa !default;
// $fa-version:                  "5.8.1" !default;
// $fa-border-color:             #eee !default;
// $fa-inverse:                  #fff !default;
// $fa-li-width:                 2em !default;
// $fa-fw-width:                 (20em / 16);