// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

// @font-face {
//     font-family: 'Helvetica Neue LT Std';
//     src: url('../fonts/HelveticaNeueLTStd-Blk.eot');
//     src: url('../fonts/HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
//         url('../fonts/HelveticaNeueLTStd-Blk.woff') format('woff'),
//         url('../fonts/HelveticaNeueLTStd-Blk.ttf') format('truetype'),
//         url('../fonts/HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Helvetica Neue LT Std';
//     src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
//     src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
//         url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
//         url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
//         url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Helvetica Neue LT Std';
//     src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
//     src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
//         url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
//         url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
//         url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
    src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
}

// gotham

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype'),
        url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype'),
        url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype'),
        url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

