$slick-font-path: "~slick-carousel/slick/fonts/";
// $slick-font-family: "slick" !default;
$slick-font-family: "Font Awesome 5 Free";
$slick-loader-path: "~slick-carousel/slick/";
$slick-arrow-color: white !default;
$slick-dot-color: white !default;
$slick-dot-color-active: $slick-dot-color !default;
// $slick-prev-character: "\2190" !default;
$slick-prev-character: "\f053";
// $slick-next-character: "\2192" !default;
$slick-next-character: "\f054";
// $slick-dot-character: "\2022" !default;
$slick-dot-character: "\f111";
// $slick-dot-size: 6px !default;
$slick-dot-size: 12px;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;