<!-- FOOTER -->
<footer class="container-fluid bg-img" style="background-image: url('${require('./assets/bg-ft.jpg')}');">
    <div class="container py-2">
    <div class="row">
        <div class="col-md-6">
            <span class="text-white">© 2019 PT. Global Ritme Amerta. All rights reserved</span>
        </div>
        <div class="col-md-6 d-flex">
          <span class="social"><a href="#" class="social-icon facebook">
                <span class="fa-stack fa-md">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                </span>
            </a><a href="#" class="social-icon twitter">
                <span class="fa-stack fa-md">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </span>
            </a><a href="#" class="social-icon instagram">
                <span class="fa-stack fa-md">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
            </a>
          </span>
            </div>
        </div>
    </div>
</footer>
