<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-nav">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo" src="assets/logo.png" alt="gloriam">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
        <form class="form-inline search-form mt-2 mt-md-0 ml-auto">
          <input type="text" class="form-control" placeholder="" aria-label="Type to search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
          </div>
        </form>
        <ul class="navbar-nav ml-auto mt-3">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="catalog.html">Catalog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News & Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact-us.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
