		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p1.jpg">
					</figure>
				<p class="title">Eppendorf Research® plus</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p2.jpg">
					</figure>
				<p class="title">Eppendorf Mastercycler® nexus GX2</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p3.jpg">
					</figure>
				<p class="title">Eppendorf ThermoMixer® C</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p4.jpg">
					</figure>
				<p class="title">Eppendorf Tissue Culture –treated (TC-Treated) Cell Culture Flasks</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p1.jpg">
					</figure>
				<p class="title">Eppendorf Research® plus</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p2.jpg">
					</figure>
				<p class="title">Eppendorf Mastercycler® nexus GX2</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p3.jpg">
					</figure>
				<p class="title">Eppendorf ThermoMixer® C</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p4.jpg">
					</figure>
				<p class="title">Eppendorf Tissue Culture –treated (TC-Treated) Cell Culture Flasks</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p1.jpg">
					</figure>
				<p class="title">Eppendorf Research® plus</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p2.jpg">
					</figure>
				<p class="title">Eppendorf Mastercycler® nexus GX2</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p3.jpg">
					</figure>
				<p class="title">Eppendorf ThermoMixer® C</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p4.jpg">
					</figure>
				<p class="title">Eppendorf Tissue Culture –treated (TC-Treated) Cell Culture Flasks</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p1.jpg">
					</figure>
				<p class="title">Eppendorf Research® plus</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p2.jpg">
					</figure>
				<p class="title">Eppendorf Mastercycler® nexus GX2</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p3.jpg">
					</figure>
				<p class="title">Eppendorf ThermoMixer® C</p>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="product-item">
				<a href="#!">
					<figure>
						<img class="img-fluid" src="assets/p4.jpg">
					</figure>
				<p class="title">Eppendorf Tissue Culture –treated (TC-Treated) Cell Culture Flasks</p>
				</a>
			</div>
		</div>